In [1]:
import pandas as pd

In [2]:
%pip install sqlalchemy psycopg2-binary

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.32-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.9-cp312-cp312-win_amd64.whl.metadata (4.6 kB)
Collecting typing-extensions>=4.6.0 (from sqlalchemy)
  Downloading typing_extensions-4.12.2-py3-none-any.whl.metadata (3.0 kB)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.0.3-cp312-cp312-win_amd64.whl.metadata (3.9 kB)
Downloading SQLAlchemy-2.0.32-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
    --------------------------------------- 0.0/2.1 MB ? eta -:--:--
   - -------------------------------------- 0.1/2.1 MB 825.8 kB/s eta 0:00:03
   - -------------------------------------- 0.1/2.1 MB 825.8 kB/s eta 0:00:03
   - -------------------------------------- 0.1/2.1 MB 825.8 kB/s eta 0:00:03
   -- ------------------------------------- 0.1/2.1 MB 722.1 kB/s eta 0:00:03
   -- ------------------------------------- 0.2/2.1 MB 612.6 kB/s eta 0:00:04
   --- ------------------------------------ 0.2/2.1 MB 731.4 kB/s eta 0:00:03
   ----- ---------------------------------- 0.3/2.1 MB 853.3 kB/s eta 0:00:03
   ------ --------------------------------- 0.3/2.1 MB 912.8 kB/s eta 0:00:02
   -------- ------------------------------- 0.4/2.1 MB 1.1 MB/s eta 0:00:02
   --------- ------------------------------ 0.5/2.1 MB 1.1 MB/s eta 0:00:02
   ----------- ---------------------------- 0.6/2.1 MB 1.2 MB/s eta 0:00:02
   ------------ --------------------------- 0.6/2.1 MB 1.2 MB/s eta 0:00:02
   -------------- ------------------------- 0.7/2.1 MB 1.3 MB/s eta 0:00:02
   --------------- ------------------------ 0.8/2.1 MB 1.3 MB/s eta 0:00:01
   ----------------- ---------------------- 0.9/2.1 MB 1.4 MB/s eta 0:00:01
   ------------------- -------------------- 1.0/2.1 MB 1.5 MB/s eta 0:00:01
   --------------------- ------------------ 1.1/2.1 MB 1.5 MB/s eta 0:00:01
   ---------------------- ----------------- 1.2/2.1 MB 1.5 MB/s eta 0:00:01
   ------------------------ --------------- 1.3/2.1 MB 1.5 MB/s eta 0:00:01
   ------------------------ --------------- 1.3/2.1 MB 1.5 MB/s eta 0:00:01
   --------------------------- ------------ 1.4/2.1 MB 1.6 MB/s eta 0:00:01
   ----------------------------- ---------- 1.5/2.1 MB 1.6 MB/s eta 0:00:01
   ------------------------------- -------- 1.6/2.1 MB 1.6 MB/s eta 0:00:01
   --------------------------------- ------ 1.7/2.1 MB 1.7 MB/s eta 0:00:01
   ------------------------------------ --- 1.9/2.1 MB 1.7 MB/s eta 0:00:01
   -------------------------------------- - 2.0/2.1 MB 1.8 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 1.8 MB/s eta 0:00:00
Downloading psycopg2_binary-2.9.9-cp312-cp312-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ----- ---------------------------------- 0.2/1.2 MB 4.8 MB/s eta 0:00:01
   ------- -------------------------------- 0.2/1.2 MB 3.4 MB/s eta 0:00:01
   ------------- -------------------------- 0.4/1.2 MB 3.4 MB/s eta 0:00:01
   ----------------- ---------------------- 0.5/1.2 MB 3.3 MB/s eta 0:00:01
   ----------------------- ---------------- 0.7/1.2 MB 3.3 MB/s eta 0:00:01
   ---------------------------- ----------- 0.8/1.2 MB 3.3 MB/s eta 0:00:01
   --------------------------------- ------ 1.0/1.2 MB 3.2 MB/s eta 0:00:01
   ---------------------------------------  1.1/1.2 MB 3.3 MB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 3.1 MB/s eta 0:00:00
Downloading greenlet-3.0.3-cp312-cp312-win_amd64.whl (293 kB)
   ---------------------------------------- 0.0/293.6 kB ? eta -:--:--
   ------------ --------------------------- 92.2/293.6 kB 2.6 MB/s eta 0:00:01
   ---------------------------------- ----- 256.0/293.6 kB 4.0 MB/s eta 0:00:01
   ---------------------------------------- 293.6/293.6 kB 2.6 MB/s eta 0:00:00
Downloading typing_extensions-4.12.2-py3-none-any.whl (37 kB)
Installing collected packages: typing-extensions, psycopg2-binary, greenlet, sqlalchemy
Successfully installed greenlet-3.0.3 psycopg2-binary-2.9.9 sqlalchemy-2.0.32 typing-extensions-4.12.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
from sqlalchemy import create_engine

In [4]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [5]:
engine.connect()

In [6]:
query = """
SELECT 1 as number;
"""

pd.read_sql(query, con=engine)

   number
0       1

In [7]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

Empty DataFrame
Columns: [schemaname, tablename, tableowner, tablespace, hasindexes, hasrules, hastriggers, rowsecurity]
Index: []

In [8]:
%%bash
ls

2_docker_sql
data
docker-compose.yaml
pg-test-connection.ipynb
read_data.ipynb

In [12]:
import pandas as pd

# Read the Parquet file
df = pd.read_parquet('./data/green_tripdata_2024-01.parquet')

df.head()
# df.info()


# Save as CSV file
# df.to_csv('../data/yellow_tripdata_2024_01.csv', index=False)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2024-01-01 00:46:55,2024-01-01 00:58:25,N,1.0,236,239,1.0,1.98,12.8,1.0,0.5,3.61,0.0,NaN,1.0,21.66,1.0,1.0,2.75
1,2,2024-01-01 00:31:42,2024-01-01 00:52:34,N,1.0,65,170,5.0,6.54,30.3,1.0,0.5,7.11,0.0,NaN,1.0,42.66,1.0,1.0,2.75
2,2,2024-01-01 00:30:21,2024-01-01 00:49:23,N,1.0,74,262,1.0,3.08,19.8,1.0,0.5,3.00,0.0,NaN,1.0,28.05,1.0,1.0,2.75
3,1,2024-01-01 00:30:20,2024-01-01 00:42:12,N,1.0,74,116,1.0,2.40,14.2,1.0,1.5,0.00,0.0,NaN,1.0,16.70,2.0,1.0,0.00
4,2,2024-01-01 00:32:38,2024-01-01 00:43:37,N,1.0,74,243,1.0,5.14,22.6,1.0,0.5,6.28,0.0,NaN,1.0,31.38,1.0,1.0,0.00

In [13]:
df = pd.read_csv('./data/green_tripdata_2024-01.csv', nrows=100)

In [15]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

AttributeError: 'DataFrame' object has no attribute 'tpep_pickup_datetime'

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               100 non-null    int64
 1   lpep_pickup_datetime   100 non-null    object
 2   lpep_dropoff_datetime  100 non-null    object
 3   store_and_fwd_flag     100 non-null    object
 4   RatecodeID             100 non-null    float64
 5   PULocationID           100 non-null    int64
 6   DOLocationID           100 non-null    int64
 7   passenger_count        100 non-null    float64
 8   trip_distance          100 non-null    float64
 9   fare_amount            100 non-null    float64
 10  extra                  100 non-null    float64
 11  mta_tax                100 non-null    float64
 12  tip_amount             100 non-null    float64
 13  tolls_amount           100 non-null    float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  100 non-null    float64
 16  total_amount           100 non-null    float64
 17  payment_type           100 non-null    float64
 18  trip_type              100 non-null    float64
 19  congestion_surcharge   100 non-null    float64
dtypes: float64(14), int64(3), object(3)
memory usage: 15.8+ KB

In [6]:
df.to_parquet('../data/yellow_tripdata_2024_01_cleansed.parquet', index=False)

In [10]:
df.to_csv('../data/yellow_tripdata_2024_01_cleansed.csv', index=False)

In [17]:
df.to_sql(name='yellow_taxi_trips', con=engine, index=False)

100

In [18]:
query = """
SELECT * FROM yellow_taxi_trips LIMIT 10
"""

pd.read_sql(query, con=engine)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2024-01-01 00:46:55,2024-01-01 00:58:25,N,1.0,236,239,1.0,1.98,12.8,1.00,0.5,3.61,0.0,None,1.0,21.66,1.0,1.0,2.75
1,2,2024-01-01 00:31:42,2024-01-01 00:52:34,N,1.0,65,170,5.0,6.54,30.3,1.00,0.5,7.11,0.0,None,1.0,42.66,1.0,1.0,2.75
2,2,2024-01-01 00:30:21,2024-01-01 00:49:23,N,1.0,74,262,1.0,3.08,19.8,1.00,0.5,3.00,0.0,None,1.0,28.05,1.0,1.0,2.75
3,1,2024-01-01 00:30:20,2024-01-01 00:42:12,N,1.0,74,116,1.0,2.40,14.2,1.00,1.5,0.00,0.0,None,1.0,16.70,2.0,1.0,0.00
4,2,2024-01-01 00:32:38,2024-01-01 00:43:37,N,1.0,74,243,1.0,5.14,22.6,1.00,0.5,6.28,0.0,None,1.0,31.38,1.0,1.0,0.00
5,1,2024-01-01 00:43:41,2024-01-01 01:00:23,N,1.0,33,209,1.0,2.00,17.0,3.75,1.5,2.00,0.0,None,1.0,24.25,1.0,1.0,2.75
6,1,2024-01-01 00:31:56,2024-01-01 00:48:09,N,1.0,74,238,2.0,3.20,18.4,3.75,1.5,4.70,0.0,None,1.0,28.35,1.0,1.0,2.75
7,2,2024-01-01 00:46:12,2024-01-01 00:57:39,N,1.0,166,239,2.0,2.01,13.5,1.00,0.5,5.62,0.0,None,1.0,24.37,1.0,1.0,2.75
8,2,2024-01-01 00:38:07,2024-01-01 00:39:23,N,1.0,226,226,1.0,0.31,3.7,1.00,0.5,0.00,0.0,None,1.0,6.20,2.0,1.0,0.00
9,2,2024-01-01 00:44:24,2024-01-01 00:57:47,N,1.0,7,129,1.0,2.32,14.9,1.00,0.5,3.48,0.0,None,1.0,20.88,1.0,1.0,0.00

```sql
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
```

Source: https://www.postgresqltutorial.com/postgresql-show-tables/